body {
  text-align: center;
}

.questions-section {
  width: 960px;
  margin: 0 auto;
}

#answers {
  width: 300px;
  margin: 0 auto;
}

#answers li:hover {
  background:#EAEAEA;
  opacity: 0.6;
  cursor: pointer;
}